@import "../main.scss";

.reduce-container {
    @include font;
}

.reduce__waste-marquee-title {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 130%;
    color: green;
}

.reduce__waste-card {
    margin: 1rem;
    text-align: center;
}

.reduce__waste-card-body {
    font-size: 70%;
}

//product card

.reduce__products-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    text-align: center;
    

}

.reduce__products-list-container {
    width: 70%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    border-radius: 10px;
    // display: block;
    // float: left;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
}

.reduce__card-img {
    // height: 100%;
    display: inline-block;
    width: 40%;
    margin-left: 0;
}

.reduce__products-body {
    display: inline-block;
    height: 100%;
    width: 60%;
    margin-right: 0px;
    line-height: 20px;
    flex-wrap: wrap;
    text-align: right;
    .reduce__body-title {
        font-size: 130%;
        color: purple;
        padding-bottom: .5rem;
    }
    .reduce__body-price {
        font-size: 80%;
        color: grey
    }
}

.reduce__prev-btn, .reduce__next-btn {
    color: purple;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
}


.reduce__tips-marquee-title {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 130%;
    color: green;
}

.reduce__tips-card {
    margin: 1rem;
    text-align: center;
}